.link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: black;
    span {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 0.9rem;
        color: white;
        
        svg {
            margin-right: 5px;
            //background-color: white;
        }
    }
    svg {
        color: white;
    }
    &.youtube {
        background-color: #FF0000;
  
    }
    &.linkedin {
        background-color: #0A66C2;
    }
    &.github {
        background-color: black;
    }
}