* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --single-block-bg-color: #fbf9f9;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: var(--single-block-bg-color);
  font-family: "Ubuntu", sans-serif;
}
.app nav {
  width: 100%;
}
.app .main-content-section {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 90%;
  width: 100%;
  background-color: rgb(244, 244, 244);
}
@media (max-width: 725px) {
  .app .main-content-section {
    padding-top: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .app .main-content-section > .phone-preview {
    min-width: 100%;
    min-height: 500px;
  }
  .app .main-content-section > .phone-preview .image-container {
    width: 100%;
    padding: 10px 40px 50px 40px;
  }
}
.app .main-content-section > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  padding: 20px;
  background-color: white;
}
.app .main-content-section .phone-preview {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .main-content-section .phone-preview .image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 60px;
  height: 90%;
  width: 300px;
  background-image: url("/iphone12(new outline).png");
  background-size: cover;
  background-position: center;
}
.app .main-content-section .phone-preview .image-container #sign-up-phone-txt {
  margin-top: 40px;
}
.app .main-content-section .phone-preview .image-container img {
  width: 60%;
  max-height: 150px;
}
.app .main-content-section .phone-preview .image-container > span {
  height: 20px;
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(164, 164, 164);
}
.app .main-content-section .phone-preview .image-container > span:first-of-type {
  margin-top: 10px;
}
.app .main-content-section .phone-preview .image-container .link-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 50px;
  margin-top: 20px;
  width: 65%;
}
.app .main-content-section .right-side-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 55%;
  row-gap: 15px;
  padding: 0;
  background-color: transparent;
}
@media (max-width: 725px) {
  .app .main-content-section .right-side-wrap {
    width: 100%;
    background-color: red;
  }
  .app .main-content-section .right-side-wrap .user-input-wrap {
    height: -moz-fit-content;
    height: fit-content;
  }
  .app .main-content-section .right-side-wrap #first-half {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: blue;
  }
}
.app .main-content-section .right-side-wrap .user-input-wrap {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  padding: 20px;
  background-color: white;
}
@media (max-width: 725px) {
  .app .main-content-section .right-side-wrap .user-input-wrap {
    overflow-y: visible;
  }
}
.app .main-content-section .right-side-wrap .user-input-wrap > h1 {
  font-size: 1.9rem;
  margin-bottom: 10px;
}
.app .main-content-section .right-side-wrap .user-input-wrap > button {
  cursor: pointer;
  margin-top: 20px;
  min-height: 40px;
  width: 100%;
  font-weight: bold;
  color: rgb(92, 5, 164);
  border-radius: 10px;
  border: 2px solid rgb(92, 5, 164);
  background-color: transparent;
}
.app .main-content-section .right-side-wrap .user-input-wrap > button:hover {
  color: white;
  background-color: rgb(92, 5, 164);
}
.app .main-content-section .right-side-wrap .user-input-wrap > form {
  width: 100%;
  padding-bottom: 50px;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 100%;
  background-color: white;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details #first-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  height: -moz-fit-content;
  height: fit-content;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details #first-half #change-photo-link {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  color: black;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details #first-half #change-photo-link svg {
  position: relative;
  z-index: 5;
  font-size: 1.5rem;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details #first-half #change-photo-link span {
  position: relative;
  z-index: 5;
  font-weight: 700;
  color: rgb(98, 30, 98);
  margin-top: 10px;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details #first-half #change-photo-link img {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 35px;
}
@media (max-width: 500px) {
  .app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap {
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
  }
  .app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap input {
    margin-top: 10px;
  }
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap input {
  height: 50px;
  width: 430px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap input:focus {
  outline-color: rgb(156, 5, 211);
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap input:focus::-moz-placeholder {
  color: transparent;
}
.app .main-content-section .right-side-wrap .user-input-wrap .profile-change-details .input-wrap input:focus::placeholder {
  color: transparent;
}
.app .save-wrap {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px;
  background-color: white;
}
.app .save-wrap button {
  cursor: pointer;
  height: 45px;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(62, 0, 128);
}/*# sourceMappingURL=index.css.map */